.surveysList {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-bottom: 1rem;
  width: 100%;
  max-width: 50rem;
}

div.surveyCard {
  padding: 1rem;
  padding-top: 0.5rem;
}

.surveyCard p.surveyCardTitle {
  margin-top: 0;
  font-size: 2rem;
  font-weight: 300;
}

p.surveyCardSubtitle {
  font-size: 1.3rem;
  font-weight: 300;
  margin-bottom: 0.5rem;
}

p.surveyCardDescription {
  white-space: pre-line;
}
