body {
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #4789b2;
  --primary-accent: #55b4ed;
  --secondary-color: #47b2a6;
  --hover-highlight: #f5f5f5;
  --danger-color: #ed6b04;
  --subheading-color: #4f616e;
  --divider-color: rgba(0, 0, 0, 0.12);
}
