.section {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 500px;
  width: 100%;
  background: black;
  box-sizing: border-box;
  padding: 1rem;
}

@media screen and (max-width: 768px) {
  .section {
    height: 400px;
  }
}

.background {
  object-fit: cover;
  opacity: 0.3;
  z-index: 1;
}

.content {
  text-align: center;
  color: white;
  z-index: 2;
}

.logo {
  width: 400px;
  max-width: 75%;
  height: auto;
}
