.section {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  background: white;
  padding-left: 2rem;
  padding-right: 2rem;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .section {
    display: none;
  }
}

.image {
  width: 50%;
  height: auto;
}
