div.surveyTabsContainer {
  min-width: 40rem;
}

@media screen and (max-width: 1024px) {
  div.surveyTabsContainer {
    min-width: 0;
  }
}

form.surveyEditorForm {
  min-width: 40rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media screen and (max-width: 1024px) {
  form.surveyEditorForm {
    min-width: 20rem;
  }
}

.surveyCard {
  min-width: 40rem;
}

@media screen and (max-width: 768px) {
  .surveyCard {
    min-width: 0;
  }
}

.surveyCard p.surveyCardTitle {
  font-size: 2rem;
  font-weight: 300;
}

p.surveyCardSubtitle {
  font-size: 1.2rem;
  font-weight: 300;
  margin-bottom: 1rem;
}

p.surveyCardDescription {
  white-space: pre-line;
}

.questionCard p.questionNumber {
  font-size: 1.2rem;
  font-weight: 300;
  margin-bottom: 1.3rem;
}

.questionCard .dragArea {
  display: flex;
  justify-content: center;
  cursor: move;
}

.questionInput {
  margin-bottom: 1rem;
}
