div.surveyTabsContainer {
  min-width: 40rem;
}

@media screen and (max-width: 1024px) {
  div.surveyTabsContainer {
    min-width: 0;
  }
}

form.surveyEditorForm {
  min-width: 40rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media screen and (max-width: 1024px) {
  form.surveyEditorForm {
    min-width: 20rem;
  }
}

div.bottomActions {
  position: fixed;
  display: flex;
  gap: 1rem;
  bottom: 0;
  padding-bottom: 1rem;
  right: 1rem;
}
