h2.surveyTitle {
  font-size: 2rem;
  margin-bottom: 2rem;
}

div.questionContent {
  max-width: 40rem;
  padding-bottom: 2rem;
}

@media screen and (min-width: 1200px) {
  div.questionContent {
    width: 40rem;
  }
}

.questionsNavigation {
  position: fixed;
  bottom: 1rem;
}

p.question {
  margin-bottom: 1rem;
}

div.buttons {
  margin-top: 1rem;
}

div.answerOptions {
  width: 100%;
}

button.answerOption {
  text-transform: none;
}

button.answerOption span.centeredContent {
  display: flex;
  justify-content: center;
  align-items: center;
}

button.answerOption span.maximizeSize {
  flex-grow: 1;
}

button.answerOption span.minimizeSize {
  flex-shrink: 0;
}
