.buttons {
  display: flex;
  gap: 2rem;
  justify-content: center;
  z-index: 2;
}

.buttons.withTopMargin {
  margin-top: 1.5rem;
}

button.button {
  min-width: 8rem;
  max-width: 15rem;
  text-transform: none;
}

@media screen and (min-width: 1200px) {
  button.button {
    width: 100%;
    font-weight: 400;
    font-size: 1.5rem;
    width: 100%;
  }
}

button.button.maxWidth20 {
  max-width: 20rem;
}

button.actionButton,
a.actionButton {
  min-width: 10rem;
}

.actionButtonIcon {
  margin-right: 0.5rem;
}

button.dangerButton:hover,
button.dangerButton:focus {
  color: var(--danger-color);
}
